@import "tailwindcss";
html {
  scroll-behavior: smooth;
  scroll-padding-top: 40px;
}
@layer base {
  .font-inter {
    font-family: "Inter", sans-serif;
  }
}
@layer components {
  .custom-container {
    max-width: 1200px;
    width: 93%;
    margin-left: auto;
    margin-right: auto;
  }
  .bg-custom-gradiant {
    background: linear-gradient(220deg, #9100f8, #fb09b4, #f7e93f);
  }
  .text-custom-gradiant {
    background: linear-gradient(#9100f8, #fb09b4, #f7e93f);
  }
}
@layer utilities {
  .bg-primary {
    background-color: rgb(26, 11, 46);
  }
  .bg-secondary {
    background-color: #230e3d;
  }

  .animation-custom {
    animation: custom-animation 2s ease-in-out infinite alternate;
  }
  @keyframes custom-animation {
    from {
      transform: translateY(-5px);
    }
    to {
      transform: translateY(5px);
    }
  }
  .scroll-animate-fadeup {
    animation: scrollFadeUp both ease-out;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
  }
  @keyframes scrollFadeUp {
    from {
      opacity: 0;
      transform: translateY(300px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .animate-fadeup {
    animation: fadeUp 0.8s linear;
  }
  @keyframes fadeUp {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .animate-fadeshow {
    animation: fadeshow 1s linear;
  }
  @keyframes fadeshow {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
